input[type="button"]{
    color: black;
    border: none;
    background-color: whitesmoke;
    font-weight: bold;/*establece el color del texto de los botones en negrita*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    padding: 6px 20px;
    margin: 5px 5px;
    cursor: pointer;
    box-shadow: 6px 6px 6px blueviolet; /*Añade efecto de sombra en el eje x - y */  
}
input[type="text"]{
    border: solid black;
    text-align: right;
    text-decoration: none;
    color:black;
    padding:  20px 32;
    width: 95%;
    box-shadow: 3px 3px 3px black;
    margin: 4px 1px;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
body{
    background-color:black;
}
table{
    background-color: #1B2A35;
    padding: 5px 5px;
}